<div class="container">

  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" #nome>

    <label>Telefone</label>
    <input type="text" class="form-control" #telefone>
  </div>

  <button type="button" class="btn btn-primary"
    (click)="adicionar(nome.value,telefone.value); nome.value = ''; telefone.value = ''">Criar</button>

  <table class="table" style="margin-top: 20px">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.id }}</td>   
        <td>{{ pessoa.nome }}</td> 
        
        <td>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="pessoa.nome">
            <input type="text" class="form-control" [(ngModel)]="pessoa.telefone">
            <span class="input-group-btn">
              <button class="btn btn-primary"(click)="atualizar(pessoa)">Atualiza</button>
            </span>
          </div>
        </td>        
        <td>
          <button class="btn btn-danger"(click)="excluir(pessoa.id)">Exclui</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>